* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerLoginPage{
  width: 100%;
  background: #4b6c71;
  padding: 30px;
}

.containerLoginPage h1{
  font-size: 25px;
  margin-bottom: 20px;
}

.loginPage{
  width: 400px;
  height: 450px;
  background: #243032;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
}

.loginPage h2{
  font-size: 25px;
  margin-bottom: 20px;
}

.control{
  width: 100%;
  background: #24303c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid red;
  font-family: 'calibri';
  font-size: 18px;
}

.control-session{
  display: flex;
  margin-bottom: 20px;
  font-family: 'calibri';
  
}

.login-regis{
  display: flex;
  justify-content: space-between;
}
