* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registerPage{
  width: 400px;
  height: 600px;
  min-height: 90vh;
  background: #243032;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
}

.registerPage h2{
  font-size: 25px;
  margin-bottom: 20px;
}

.controls{
  width: 100%;
  background: #24303c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid red;
  font-family: 'calibri';
  font-size: 18px;
}

.success-message{
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.error-message{
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.containerRegisterpage{
  width: 100%;
  background: #4b6c71;
  padding: 30px;
}

.containerRegisterpage h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.loginRegister-submit{
  text-decoration: none;
  color:  #4b6c71;
}

.regis-login{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

