.header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #24303c;
  
}
.nav-header{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header .active{
  color: rgb(50, 150, 243);
}


.nav-header h1{
  width: 30%;
  height: 60px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-jordan{
  padding: 10px;
  width: 120px;
  display: flex;
  justify-content: center;
}
.button-header{
  padding: 10px;
}

.links-header{
  width: 25%;
  display: flex;
  justify-content: space-around;
  color: white;
}

.links-header a{
  text-decoration: none;
  color: white;
}